
# Automated Test Report

Generated automatically

-----------------------------------

PRD Rule:

Username length > 6

-----------------------------------

Test Results:

TC_REG_001 : FAIL
TC_REG_002 : FAIL
TC_REG_003 : PASS

-----------------------------------

Auto Generated Bugs:

BUG_TC_REG_001
Severity: HIGH

BUG_TC_REG_002
Severity: HIGH

-----------------------------------

Conclusion:

System violates PRD constraints.

Registration module allows invalid username length.

Auto bug generation successful.

